

@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');


.vina-kitchens {
    position: flex;
    top: 10%;
    left: 60%;
    width: 20%;
    height: 20%;
    
  }

  body{
    background-image: url(./img/background.png);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#2c3036;
    background-attachment: fixed;

   }

   footer{
    position: absolute;
    bottom: 0;
   }

   .mobile-logo{
    display: none;
   }

   .mobile-menu{
    display: none;
   }


.nav-box{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 80px;
}

  .menu-box{
    left: auto;
    
    
  }
  .menu-box ul   {
    
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 65px;
  }

   .menu-box ul li a{
    color:  white;
    text-decoration: none;
    font-family: 'Podkova', serif;
   }

   .menu-box a:hover{
    color: #E7E0E0;
   }

   .log-in-box{
   right: 31%;

  }

   .log-in-box ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 65px;
   }

   .log-in-box ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Podkova', serif;
    
   }

   .log-in-box a:hover{
    color: #E7E0E0;
   }



  .log-in{
    color: white;
    font-family: 'Podkova', serif;
    }

    .frame-3{
      width: 100%;
    }

  .play-button {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 100px;
    padding: 23px 46px 23px 45px;
    box-shadow: -3px 3px 3px 0 rgba(255, 255, 255, 0.4) inset,
      3px -3px 3px 0 rgba(182, 182, 182, 0.4) inset;
    backdrop-filter: blur(30.07px);
    position: fixed;
    top: 75%;
    left: 40%;
    width: 17%;
  
  }

  .play-button:hover{
    opacity: 0.5;
  }

  .play-button a:focus{
    background-color: #2c3036;
  }


  @media all and (max-width: 500px){

 
.nav-box{
  display: none;
}
    .mobile-logo{
      display: block;
      position: fixed;
      top: 3%;
      left: 5%;
     }

     .mobile-menu{
      display: block;
      position: fixed;
      top: 3%;
      right: 5%;
     }

    body {
      background-image: none;
      background-color: #342D2D;
      height: 100%;
      overflow-y: hidden;

      
    }

    .play-button {
      background-color: rgba(217, 217, 217, 0.1);
      border-radius: 100px;
      padding: 23px 46px 23px 45px;
      box-shadow: -3px 3px 3px 0 rgba(255, 255, 255, 0.4) inset,
        3px -3px 3px 0 rgba(182, 182, 182, 0.4) inset;
      backdrop-filter: blur(30.07px);
     position: fixed;
     left: 9%;
    
    }
   

  }


