

@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');


.vina-kitchens {
    position: absolute;
    width: 297px;
    height: 72px;
    top: 64px;
    left: 54px;
  }

  body{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
  }

  nav{
    position: relative;
    display: flex;
    gap: 60px;
    left: 28%;
    top: 30px;
    padding-top: 50px;
  }

  .menu{
    color: white;
    display: inline-flex;
    align-items: flex-start;
    left: 50px;
    font-family: 'Podkova', serif;
  }

  .log-in{
    position: relative;
    display: inline-flex;
    color: white;
    right: -20%;
    font-family: 'Podkova', serif;
  }

  